body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: rgb(0 104 74);
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.nav-btn{

    background-color: rgb(177 255 5);
    border: none;
    border-radius: 50px;
    padding:5px;
    width: 50px;
    font-size: 9px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.child{
    color: white;
}


.link{
    text-decoration: none;
    color: rgb(206, 254, 108);
}

.firstchild{
    display: flex;
    gap: 10px;
    align-items: center;
     margin-left: 35px;
   
}



.secondchild{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}




.mainnav{


    
    padding: 20px;
    display: flex;
    align-items: center;
    

}


.childnav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.childnav a{ 

text-decoration: none;
color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.childnav img{
    width: 12%;
}





.childnav button{
   
     background-color: rgb(0 237 100);
     width: 140px;
     height: 50px;
     padding: 10px;
     border: black 1px solid;
     font-weight: bold;
     font-size: 14px;
     text-align: center;
     border-radius: 5px;
     font-family:Verdana, Geneva, Tahoma, sans-serif

}



.childnav button:hover{


    border-radius: 25px;
   
 

}



.bongo-banner {
  background: linear-gradient(90deg, #001e2b 40%, #023430 100%);
  color: #fff;
  padding: 2.5rem 1.5rem;
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  max-width: auto;
  margin: 2.5rem auto;
  box-shadow: 0 6px 26px 0 #001e2b22;
}

.banner-content {
  flex: 1 1 300px;
  min-width: 250px;
}

.banner-title {
  color: #00ed64;
  margin-bottom: 0.7rem;
  font-size: 2.3rem;
  letter-spacing: 0.5px;
}

.banner-desc {
  margin-bottom: 1.4rem;
  max-width: 420px;
  font-size: 1.08rem;
  line-height: 1.7;
}

.banner-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.banner-btn {
  background: #00ed64;
  color: #001e2b;
  border: none;
  padding: 0.9rem 1.6rem;
  border-radius: 7px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.banner-link {
  color: #00ed64;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1rem;
}

.banner-img {
  width: 30vw;
  border-radius: 10px;
  box-shadow: 0 4px 24px 0 #001e2b33;
  background: #fff;
  padding: 0.5rem;
  flex: 0 1 240px;
}




